.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  
}

.btn-create-home {
  background: linear-gradient(135deg, #5a1a1a, #8b2f2f);
  color: #f5e6c8;

  border: 2px solid #d4af37;
  border-radius: 10px;

  padding: 0.8rem 1.5rem;

  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  transition: all 0.25s ease;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.6);
}

.btn-create-home:hover {
  transform: translateY(-1px);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.7),
    0 0 12px rgba(212, 175, 55, 0.25);
}

span{
  font-size: 25px;
}

h2{
  font-size: 50px;
}
.main-content{
  font-size: 25px;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  grid-template-columns: (2, 2fr);
}