.save-box {
  position: relative;

  display: flex;
  align-items: center;
  gap: 10px;

  min-width: 8px;

  padding: 10px 16px;

  background: #252525;

  border: 1px solid #404040;
  border-radius: 10px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  transition: all 0.15s ease;

  user-select: none;
}

.save-box:hover {
  transform: translateY(-1px);

  border-color: #5f5f5f;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
}

.save-label {
  font-size: 18px;
  color: #bbb;
  margin-bottom: 1px;
}

.save-tooltip {
  position: absolute;
  display: flex;
  justify-content: space-evenly;

  bottom: calc(0%);
  left: 60%;

  transform: translateX(10%);

  min-width: 240px;

  padding: 10px;
  gap: 10px;

  background: #222;

  border: 1px solid #444;
  border-radius: 8px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;

  transition: 0.15s ease;

  z-index: 9999;
}

.save-box:hover .save-tooltip {
  opacity: 1;
  visibility: visible;
}

.save-tooltip span {
  font-size: 15px;
  margin-bottom: 1px;
}

#download-btn,
#save-btn {
  width: 120px;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

#download-btn:before,
#save-btn:before {
  content: "";
  background: linear-gradient(
    135deg,
    #000000 0%,
    /* Vazio do espaço */ #8b6a2f 12%,
    /* Azul espacial */ #d4af37 28%,
    /* Nebulosa roxa */ #c9a83c 42%,
    /* Roxo cósmico */ #d1b149 56%,
    /* Azul estelar */ #ddc166 70%,
    /* Ciano */ #dbbf63 92%,
    /* Estrela amarela */ #f0d37a 100% /* Gigante vermelha */
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

#download-btn:active,
#save-btn:active {
  color: #000;
}

#download-btn:active:after,
#save-btn:active::after {
  background: transparent;
}

#download-btn:hover:before,
#save-btn:hover:before {
  opacity: 1;
}

#download-btn:after,
#save-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.popup-alert-overlay {
  position: fixed;
  top: 92%;
  left: calc(42%);
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 2s ease-in-out;
  opacity: 1;
}

.popup-alert-overlay.closing {
  opacity: 0;
  pointer-events: none;
}

/* ===== CAIXA DO ALERTA ===== */
.alert-dialog {
  display: flex;
  background: linear-gradient(180deg, #1a120b, #2b1b0f);
  color: #e6d8b5;
  justify-content: center;
  align-items: center;

  padding: 1.4rem;

  width: 90%;
  max-width: 400px;
  height: 20px;

  border-radius: 14px;

  text-align: center;

  border: 2px solid #b08a3c;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.8),
    0 0 15px rgba(212, 175, 55, 0.15);

  animation: modalFade 0.3s ease;

  font-family: "Georgia", "Times New Roman", serif;

  position: relative;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.alert-dialog.closing {
  opacity: 0;
  transform: scale(0.9);
}

/* ===== MENSAGEM ===== */
.alert-dialog p {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.6;
  color: #c9b48a;
}

/* ===== ANIMAÇÃO (mesma do modal) ===== */
@keyframes modalFade {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
